body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    background-color: bisque;
    width: 60%;
    height: 1200px;
    margin: auto;
  }

  header {
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
  header img {
      width: 100px;
  }
  nav {
    width: 75%;
    font-weight: 600;
  }

  nav li {
    background-color: aqua;
    padding: 8px;
  }
  nav li:hover {
    background-color: #e77e23;
  }

  nav a {
    text-decoration: none;
    font-size: medium;
    margin: 10px;
  }
  nav a:hover {
    color: white;
  }

  main {
    background-color: yellow;
    font-size: 100%;
  }

  footer {
    background-color: #ccc;
  }

  li {
    display: inline;
    width: 33%;
  }

  h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', cursive, 'Trebuchet MS', sans-serif;
    color: blue;
    width: 100%;
  }

  p {
    line-height: 115%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 10px 50px;
    align-content: center;
    margin: 50px;
  }

  .grid-container > img {
    width: 100%;
    align-content: center;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-container > img {
    margin: 5px;
    width: 160px;
  }

  .skip-to-main {
    background: #e77e23;
    height: 30px;
    padding: 8px;
  }
  .skip-to-main-link {
    font-size: medium;
    text-decoration: none;
    color: white;
  }
  .skip-to-main-link:hover {
    color: blue;
  }

  main img {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
  }